.about-card {
    background: #d05b67;
    background: -webkit-linear-gradient(to right, #f898dd, #DA4453);
    background: linear-gradient(to right, #f4bce4, #fd5e6ee3);

}

.title {
    color: #a92884;

}

.title1 {
    color: #e959c0;
}